<div class="container">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <button type="button" class="btn btn-secondary " name="options"  id="option1" (click)="changeDisplayTable(true)" value="">一楼桌席</button>

      <button type="button" class="btn btn-secondary active"  name="options" id="option2" (click)="changeDisplayTable(false)" value="">二三楼坐席</button>
  </div>

  <table class="table" *ngIf="displayTable">
    <thead>
    <tr>
      <th scope="col">统一查询编号</th>
      <th scope="col">区</th>
      <th scope="col">排/桌次</th>
      <th scope="col">门票所属人</th>
      <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tix of tableArr.response;let i = index">
      <th scope="row" class="ticket-{{tix.ticketNum}}">{{tix.ticketNum}}</th>
      <td class="ticket-{{tix.ticketNum}}">{{tix.position.section}}</td>
      <td class="ticket-{{tix.ticketNum}}">{{tix.position.row}}</td>
      <td class="ticket-{{tix.ticketNum}}" id="ticket-{{tix.ticketNum}}-name">{{tix.name}}</td>
      <td class="ticket-{{tix.ticketNum}} editBox"><input type="text"></td>
      <td class="ticket-{{tix.ticketNum}}"><a style="color: #FF0000;cursor: pointer;" (click)="deleteTix(tix.ticketNum)">删除</a></td>
    </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="!displayTable">
    <thead>
    <tr>
      <th scope="col">统一查询编号</th>
      <th scope="col">区</th>
      <th scope="col">排/桌次</th>
      <th scope="col">门票所属人</th>
      <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tix of seatArr.response;let i = index">
      <th scope="row" class="ticket-{{tix.ticketNum}}">{{tix.ticketNum}}</th>
      <td class="ticket-{{tix.ticketNum}}">{{tix.position.section}}</td>
      <td class="ticket-{{tix.ticketNum}}">{{tix.position.row}}</td>
      <td class="ticket-{{tix.ticketNum}}">{{tix.name}}</td>
      <td class="ticket-{{tix.ticketNum}}"><a style="color: #FF0000;cursor: pointer;" (click)="deleteTix(tix.ticketNum)">删除</a></td>
    </tr>
    </tbody>
  </table>
</div>
