<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center">票务查询</a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/lookup">票号查询</a></li>
      <!--<li><a routerLink="/search">名单查询</a></li>-->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/lookup">票号查询</a></li>
      <!--<li><a routerLink="/search">名单查询</a></li>-->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
